In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
folder_path = "./UTKFace"

data = []

for filename in os.listdir(folder_path):
    nparts = filename.split("_")
    age = nparts[0]
    gender = nparts[1]
    race = nparts[2]
    dt = nparts[-1].split(".")[0]

    data.append([age, gender, race, dt, filename])

df = pd.DataFrame(data, columns = ["Age", "Gender", "Race", "Date_Time", "File_Name"])

In [5]:
df.head()

   Age Gender Race          Date_Time                               File_Name
0  100      0    0  20170112213500903  100_0_0_20170112213500903.jpg.chip.jpg
1  100      0    0  20170112215240346  100_0_0_20170112215240346.jpg.chip.jpg
2  100      1    0  20170110183726390  100_1_0_20170110183726390.jpg.chip.jpg
3  100      1    0  20170112213001988  100_1_0_20170112213001988.jpg.chip.jpg
4  100      1    0  20170112213303693  100_1_0_20170112213303693.jpg.chip.jpg

In [9]:
df.Race.value_counts(normalize = True)*100

Race
0                                 42.508858
1                                 19.090602
3                                 16.766492
2                                 14.484562
4                                  7.136831
20170116174525125.jpg.chip.jpg     0.004218
20170109142408075.jpg.chip.jpg     0.004218
20170109150557335.jpg.chip.jpg     0.004218
Name: proportion, dtype: float64

In [13]:
valid_races = ['0', '1','2','3','4']


df['Race'] = df['Race'].astype(str)

df = df[df["Race"].isin(valid_races)]

In [17]:
df.Race.value_counts()

Race
0    10078
1     4526
3     3975
2     3434
4     1692
Name: count, dtype: int64

In [21]:
race_0 = df[df["Race"] == "0"].sample(n = 100, random_state = 42)

In [23]:
race_0

,Age,Gender,Race,Date_Time,File_Name
23301,8,1,0,20170109204954253,8_1_0_20170109204954253.jpg.chip.jpg
39,10,0,0,20170110220548521,10_0_0_20170110220548521.jpg.chip.jpg
2975,21,0,0,20170104230057120,21_0_0_20170104230057120.jpg.chip.jpg
19166,54,1,0,20170117191523029,54_1_0_20170117191523029.jpg.chip.jpg
17287,48,0,0,20170104201250552,48_0_0_20170104201250552.jpg.chip.jpg
...,...,...,...,...,...
41,10,0,0,20170110220644705,10_0_0_20170110220644705.jpg.chip.jpg
110,10,1,0,20161220222001459,10_1_0_20161220222001459.jpg.chip.jpg
442,13,1,0,20170109212934682,13_1_0_20170109212934682.jpg.chip.jpg
984,16,1,0,20170109214415828,16_1_0_20170109214415828.jpg.chip.jpg
2223,1,1,0,20161219205022813,1_1_0_20161219205022813.jpg.chip.jpg

In [25]:
race_1 = df[df["Race"] == "1"].sample(n = 10, random_state = 42)
race_2 = df[df["Race"] == "2"].sample(n = 10, random_state = 42)
race_3 = df[df["Race"] == "3"].sample(n = 10, random_state = 42)
race_4 = df[df["Race"] == "4"].sample(n = 10, random_state = 42)

In [27]:
race_1

,Age,Gender,Race,Date_Time,File_Name
11732,32,0,1,20170113151546423,32_0_1_20170113151546423.jpg.chip.jpg
9588,29,0,1,20170113175509613,29_0_1_20170113175509613.jpg.chip.jpg
6133,26,0,1,20170116024617265,26_0_1_20170116024617265.jpg.chip.jpg
11500,31,1,1,20170116222848038,31_1_1_20170116222848038.jpg.chip.jpg
19963,58,0,1,20170117193003224,58_0_1_20170117193003224.jpg.chip.jpg
15772,40,1,1,20170110153441199,40_1_1_20170110153441199.jpg.chip.jpg
13850,36,0,1,20170117163447723,36_0_1_20170117163447723.jpg.chip.jpg
9904,29,1,1,20170116023929751,29_1_1_20170116023929751.jpg.chip.jpg
14246,37,0,1,20170116193848620,37_0_1_20170116193848620.jpg.chip.jpg
10302,2,1,1,20170109194445412,2_1_1_20170109194445412.jpg.chip.jpg

In [29]:
race_4

,Age,Gender,Race,Date_Time,File_Name
10237,2,0,4,20161221202417666,2_0_4_20161221202417666.jpg.chip.jpg
21799,6,1,4,20170119204208503,6_1_4_20170119204208503.jpg.chip.jpg
13306,35,0,4,20170104165959561,35_0_4_20170104165959561.jpg.chip.jpg
12242,32,1,4,20170105165021555,32_1_4_20170105165021555.jpg.chip.jpg
15337,3,1,4,20170104005006111,3_1_4_20170104005006111.jpg.chip.jpg
793,15,1,4,20170103233441003,15_1_4_20170103233441003.jpg.chip.jpg
12309,33,0,4,20170117201021349,33_0_4_20170117201021349.jpg.chip.jpg
21695,6,0,4,20161221192637277,6_0_4_20161221192637277.jpg.chip.jpg
10857,30,0,4,20170117204104479,30_0_4_20170117204104479.jpg.chip.jpg
784,15,1,4,20170103201445071,15_1_4_20170103201445071.jpg.chip.jpg

In [31]:
df = pd.concat([race_0,race_1,race_2,race_3,race_4 ])

In [33]:
df.Race.value_counts()

Race
0    100
1     10
2     10
3     10
4     10
Name: count, dtype: int64

In [39]:
import shutil
original_folder = "./UTKFace"

folder = "./images"

os.makedirs(folder, exist_ok = True)

def cp_img(df, target_folder):
    for filename in df["File_Name"]:
        source_path = os.path.join(original_folder, filename)
        target_path = os.path.join(folder, filename)
        shutil.copy(source_path, target_path)
    print("Done!")

cp_img(df,folder)

Done!

pip install Augmentor

In [41]:
def org_img(df):
    for _, row in df.iterrows():
        img = row["File_Name"]
        race_class = row["Race"]

        race_folder = os.path.join(folder, str(race_class))
        os.makedirs(race_folder, exist_ok = True)

        source_folder = os.path.join(folder, img)
        target_folder = os.path.join(race_folder, img)

        shutil.move(source_folder, target_folder)

    print("Done!")

In [43]:
org_img(df)

Done!

In [45]:
import Augmentor

def Aug_img():
    for race_class in os.listdir(folder):
        race_folder = os.path.join(folder, race_class)

        if not os.path.isdir(race_folder) or race_class == "0":
            continue
            
        p = Augmentor.Pipeline(source_directory = race_folder)

        p.rotate(probability = 0.7, max_left_rotation = 25, max_right_rotation = 25)
        p.flip_left_right(probability = 0.5)
        p.zoom_random(probability = 0.5, percentage_area = 0.8)
        p.random_contrast(probability = 0.5, min_factor = 0.7, max_factor = 1.2)
        p.random_brightness(probability = 0.5, min_factor = 0.7, max_factor = 1.2)
        p.shear(probability = 0.5, max_shear_left = 10, max_shear_right = 10)
        p.random_color(probability = 0.5,min_factor = 0.7, max_factor = 1.2)

        p.sample(90)

        print(f"{race_class}Done!")

In [47]:
Aug_img()

Initialised with 10 image(s) found.
Output directory set to ./images\1\output.

Processing <PIL.Image.Image image mode=RGB size=200x200 at 0x220C48A6690>: 100%|█| 90/90 [00:00<00:00, 178.59 Samples/s

1Done!
Initialised with 10 image(s) found.
Output directory set to ./images\2\output.

Processing <PIL.Image.Image image mode=RGB size=200x200 at 0x220BAF65250>: 100%|█| 90/90 [00:00<00:00, 193.08 Samples/s

2Done!
Initialised with 10 image(s) found.
Output directory set to ./images\3\output.

Processing <PIL.Image.Image image mode=RGB size=200x200 at 0x220C4833A90>: 100%|█| 90/90 [00:00<00:00, 140.04 Samples/s

3Done!
Initialised with 10 image(s) found.
Output directory set to ./images\4\output.

Processing <PIL.Image.Image image mode=RGB size=200x200 at 0x220C48A5DD0>: 100%|█| 90/90 [00:00<00:00, 186.47 Samples/s

4Done!